

<ion-content>
    <ion-text class="text">
        1- Nhấp vào tải xuống để bắt đầu tải xuống (Tải game ngay)
    </ion-text>
    <ion-text class="text">
        2- Sau khi ứng dụng được tải xuống, bạn sẽ nhận được thông báo    
    </ion-text>
    <ion-text class="text">
        3- Sau khi tải bản cập nhật, các bạn hãy cho phép install bản cập nhật từ nguồn muvip
    </ion-text>
    <ion-text class="text">
        4- kiểm tra tệp của bạn để tìm MU VIP
    </ion-text>
    <ion-button (click)="presentModal()" class="button">
        Tải game ngay
    </ion-button>
</ion-content>
