/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.text {
    text-align: center;
    margin: 0;
    top: 10%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 25px;
    display: block;
    position: relative;
    color: wheat;
    margin-top: 10px;
}

.button {
    text-align: center;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    --background: white;
    color: black;
    font-weight: bold;
    -webkit-animation: animation-button 20000ms infinite;
    -moz-animation: animation-button 20000ms infinite;
    -o-animation: animation-button 20000ms infinite;
    animation: animation-button 20000ms infinite;
}

@-webkit-keyframes animation-button {
    0%   {color:red;background: yellow; }
    25%  {color:yellow;background: yellow; }
    50%  {color:blue;background: yellow; }
    75%  {color:green;background: yellow; }
    100% {color:red;background: yellow; }
}

@keyframes animation-button {
    0%   {color:red;background: yellow; }
    25%  {color:yellow;background: yellow; }
    50%  {color:blue;background: yellow; }
    75%  {color:green;background: yellow; }
    100% {color:red;background: yellow; }
}